*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



  .container-web {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10%;

    padding: 10px;
    transition: 0.2s;
}
.lef-sect {
    width: 3%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  
 
}
.rigth-sect {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.dark {
    background-color: #3b3b3b;
    color: #fff;

    .category{
        
        color: #00000088 !important;
    }

    tbody{
       
        tr{
            transition: 0.4s !important;
            &:hover{
                background-color: #41414100 !important;
            }
        }
        .progress {
            background-color:  #ffffff !important;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 4px;
      
            .progress-bar {
              background-color: #7367f0 !important;
              height: 6px;
              transition: width 0.3s;
            }
        }
    }

    
   

    thead{
        background-color: #3b3b3b !important;
        color: #fff !important;
        th{
            background-color: #3b3b3b !important;
           
        }

    }

    header{ 
        background-color: #3b3b3b !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.274) !important;
    }

    .logo{
        opacity: 0 !important;
    }

    i{
        color: #fff;
    }

    .button {
        color: white !important;
    }

    h3{
        color: #7367f0 !important;
    }

    p{
    
        color: rgba(255, 255, 255, 0.418) !important;
        &:hover{
            color:#8f83ff !important;
        }
    }
    div{
        background-color: #3b3b3b !important;
        padding: 0 black;
        box-shadow: none;   
        strong{
          color:  #ffffff73 !important;
        } 
        span{
            color:  #fff !important;
        }
        .purple {
            background-color: #7367f0 !important;
          }
        .green {
            background-color: #28c76f !important;
          }
        .blue {
            background-color: #00cfe8 !important;
          }
       
    }
}